{%load static%}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link href="{% static '/img/favicon.ico' %}" rel="shortcut icon" />
    <link href="{% static '/img/logo.ico' %}" rel="shortcut icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>{% block title%}Home{% endblock title%}</title>
  </head>
  <body>
    <div class="wrapper">
      <head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="col-sm">
            <a
              class="navbar-brand flex-grow-1"
              style="text-align: center; color: #fff; margin-left: 25px"
            >
              {% block navbar-content%} {% endblock navbar-content%}
            </a>
          </div>
        </nav>
      </head>
      {% block content%}Home{% endblock content%}
    </div>
    <footer
      class="bg-dark text-center text-lg-start"
      id="footer"
      style="color: #fff"
    >
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy; {%now 'Y'%} Copyright:
        <a class="text-align" href="#" style="text-decoration: none">
          <span class="text-warning"> Marwa Werfelli </span>
        </a>
      </div>
    </footer>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
  ></script>
</html>
