{% extends 'add.html' %} {% block title %}Edit porduct{% endblock title %}

<!-- navbar-->
{% block navbar-content %}
<i class="text-warning fas fa-pen"></i>
&nbsp;&nbsp;Edit Product {% endblock navbar-content %}

{% block card-color %} border-dark bg-warning{% endblock card-color %}
{% block card-title %}<strong>Registered at:</strong><span>{{product.created_at| date:'m/d/Y (H:i)'}}</span>{% endblock card-title %}

{% block action %} action="/edit_product" {% endblock action %}

{% block btn-action %}<i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes {% endblock btn-action %}

{% block value-id %}
<div class="input-group mb-3">
    <span class="side-label btn border-secondary bg-light"
      ><i class="fas fa-key"></i
    ></span>
    <input
      type="text"
      class="form-control"
      name="id"
    value="{{ product.id  }}"
     readonly
    />
  </div>
{% endblock value-id %}
{% block value-product %} value="{{ product.product }}" {% endblock value-product %}
{% block value-purchase %} value="{{ product.purchase }}" {% endblock value-purchase %}
{% block value-sale %} value="{{ product.sale }}" {% endblock value-sale %}
{% block value-qty %} value="{{ product.qty }}" {% endblock value-qty %}

{% block option %}
<option style="background-color: #d3dede;color: #111;" >{{ product.gender  }}</option>
{% endblock option %}

{% block note %}
{{ product.note  }}
{% endblock note %}