{% extends 'base.html' %}

<!-- navbar-->
{% block navbar-content %}
<i class="text-warning fas fa-tshirt"></i>
&nbsp;&nbsp; Product List {% endblock navbar-content %}

<!-- page content-->
{% block content %}

<div class="container">
  <br /><br />
  <a href="{% url 'add_product' %}" class="btn btn-outline-secondary btn-sm"
    ><i class="fas fa-plus"></i>&nbsp;&nbsp; Add Product</a
  >
  <table
    class="table table-bordered table-sm mt-4"
    style="text-align: center; font-size: 14px;"
  >
    <thead class="table-warning">
      <tr>
        <th style="width: 25%;">Product</th>
        <th style="width: 15%;">Purchase price</th>
        <th style="width: 15%;">Sale price</th>
        <th style="width: 8%;">Quantity</th>
        <th style="width: 8%;">Gender</th>
        <th style="width: 19%;">Registred</th>
        <th colspan="2" style="width: 10%;">Actions</th>
      </tr>
    </thead>
    {% for product in product %}
    <tr>
      <td>{{product.product}}</td>
      <td>{{product.purchase}}</td>
      <td>{{product.sale}}</td>
      <td>{{product.qty}}</td>
      <td>{{product.gender}}</td>
      <td>{{product.created_at| date:'m/d/Y (H:i)'}}</td>
      <td>
        <a
          href="/product/{{product.id}}"
          class="btn btn-warning"
          title="Edit product"
        >
          <i class="fas fa-pen"></i>
        </a>
        <a
        href="/delete_product/{{product.id}}"
        class="btn btn-secondary"
        title="Delete product"
      >
        <i class="fas fa-trash-alt"></i>
      </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
